# =========================
# Personal stuffs
# =========================

# Ignore everything
/*

# With the exception of
!.gitignore

# Files from Visual Studio that we want
!VillageLife
VillageLife/*
!VillageLife/*.cs
!VillageLife/*.sln
!VillageLife/*.csproj
!VillageLife/*.config
!VillageLife/Properties
!VillageLife/src

# !Avida-ED