# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Unity Specific Ignores
# =========================

# The Unity Library
# When checking the project into a version control system, you should add the Assets and the ProjectSettings directories to the system. The Library directory should be completely ignored - when using .meta files, it’s only a local cache of imported assets.
# http://docs.unity3d.com/Manual/ExternalVersionControlSystemSupport.html
Library

# http://answers.unity3d.com/questions/22604/which-unity-project-files-can-be-ignored-for-versi.html
Temp
Obj

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.DS_store

# =========================
# Personal Stuffz
# =========================

Avida-ED
Paper/*
!Paper/VillagePeople.tex
!Paper/VillagePeople.pdf
!Paper/refs.bib
